In [3]:
import pandas as pd

In [4]:
import numpy as np

In [7]:
import matplotlib.pyplot as plt

In [8]:
import seaborn as sns

In [9]:
import requests

In [ ]:
tiwinners['Prize pool'] = tiwinners['Prize pool'].astype('int64')

In [ ]:
tiwinners

In [ ]:

tiwinners.plot.bar(x='Year', y='Prize pool', color='red',edgecolor='black', rot=0, legend=False)
sns.set_theme(font_scale=1.25)
ylabels=tiwinners['Prize pool']
plt.plot(ylabels, marker = 'o', markerfacecolor='gold',color='black', markeredgecolor='black', label='Year')
plt.ticklabel_format(axis='y',style='plain')
plt.title("Total Prize Pool per Tournament",fontsize=14)
plt.xlabel("Tournament Year", fontsize=14)
plt.ylabel("Prize Money", fontsize=14)

plt.xticks(rotation=65)
plt.show()

In [12]:
ti2011country = pd.read_csv(r'C:\Users\J2das\Documents\NSS\PYTHON\Projects\NSS-Full-Time-Data-Analytics-14-Capstone-Dota2\data\ti2011country(cleaned).csv')

In [15]:
ti2011count = ti2011country[['Country or Region','Representation']]

In [17]:
ti2011count = ti2011count.rename(columns ={'Country or Region':'Country 2011','Representation':'2011'})

In [19]:
ti2011count

     Country 2011  2011
0           China    19
1         Denmark     9
2          Russia     7
3          France     5
4        Malaysia     5
5     Philippines     5
6       Singapore     5
7        Thailand     5
8         Czechia     3
9         Germany     3
10        Ukraine     3
11       Slovakia     2
12         Sweden     2
13  United States     2
14         Canada     1
15        Croatia     1
16        Estonia     1
17          Macau     1
18        Romania     1

In [21]:
ti2012country = pd.read_csv(r'C:\Users\J2das\Documents\NSS\PYTHON\Projects\NSS-Full-Time-Data-Analytics-14-Capstone-Dota2\data\ti2012country(cleaned).csv')

In [23]:
ti2012count = ti2012country[['Country or Region','Representation']]

In [25]:
ti2012count = ti2012count.rename(columns ={'Country or Region':'Country 2012','Representation':'2012'})

In [27]:
ti2012count

     Country 2012  2012
0           China    23
1          Russia     8
2   United States     7
3        Malaysia     6
4         Ukraine     6
5       Australia     4
6          Canada     4
7       Singapore     4
8          Sweden     4
9         Denmark     3
10         France     3
11        Germany     3
12    Netherlands     2
13        Croatia     1
14        Estonia     1
15          Macau     1

In [29]:
ti2013country = pd.read_csv(r'C:\Users\J2das\Documents\NSS\PYTHON\Projects\NSS-Full-Time-Data-Analytics-14-Capstone-Dota2\data\ti2013country(cleaned).csv')

In [31]:
ti2013count = ti2013country[['Country or Region','Representation']]

In [33]:
ti2013count = ti2013count.rename(columns ={'Country or Region':'Country 2013','Representation':'2013'})

In [35]:
ti2014country = pd.read_csv(r'C:\Users\J2das\Documents\NSS\PYTHON\Projects\NSS-Full-Time-Data-Analytics-14-Capstone-Dota2\data\ti2014country(cleaned).csv')

In [37]:
ti2014count = ti2014country[['Country or Region','Representation']]

In [39]:
ti2014count = ti2014count.rename(columns ={'Country or Region':'Country 2014','Representation':'2014'})

In [49]:
ti2014count

     Country 2014  2014
0           China    24
1        Malaysia    12
2   United States    10
3          Sweden     9
4          Russia     7
5          Canada     6
6         Germany     6
7         Ukraine     6
8     South Korea     5
9         Denmark     2
10        Estonia     1
11        Finland     1
12         Israel     1
13          Macau     1
14    Netherlands     1
15        Romania     1
16      Singapore     1

In [41]:
ti2015country = pd.read_csv(r'C:\Users\J2das\Documents\NSS\PYTHON\Projects\NSS-Full-Time-Data-Analytics-14-Capstone-Dota2\data\ti2015country(cleaned).csv')

In [43]:
ti2015count = ti2015country[['Country or Region','Representation']]

In [45]:
ti2015count = ti2015count.rename(columns ={'Country or Region':'Country 2015','Representation':'2015'})

In [47]:
ti2015count

     Country 2015  2015
0           China    27
1         Ukraine     9
2     South Korea     7
3        Malaysia     6
4          Russia     5
5   United States     5
6          Canada     4
7         Denmark     2
8         Germany     2
9       Singapore     2
10         Sweden     2
11      Australia     1
12        Belarus     1
13        Estonia     1
14        Finland     1
15         Israel     1
16          Macau     1
17         Mexico     1
18       Pakistan     1
19        Romania     1

In [51]:
ti2016country = pd.read_csv(r'C:\Users\J2das\Documents\NSS\PYTHON\Projects\NSS-Full-Time-Data-Analytics-14-Capstone-Dota2\data\ti2016country(cleaned).csv')

In [53]:
ti2016count = ti2016country[['Country or Region','Representation']]

In [55]:
ti2016count = ti2016count.rename(columns ={'Country or Region':'Country 2016','Representation':'2016'})

In [57]:
ti2016count

       Country 2016  2016
0             China    21
1            Sweden     8
2     United States     6
3          Malaysia     5
4       Philippines     5
5       South Korea     5
6           Denmark     4
7           Germany     4
8           Ukraine     4
9            Canada     3
10          Finland     2
11           Jordan     2
12           Russia     2
13        Australia     1
14         Bulgaria     1
15          Estonia     1
16           Israel     1
17            Macau     1
18  North Macedonia     1
19         Pakistan     1
20          Romania     1
21        Singapore     1

In [61]:
ti2017country = pd.read_csv(r'C:\Users\J2das\Documents\NSS\PYTHON\Projects\NSS-Full-Time-Data-Analytics-14-Capstone-Dota2\data\ti2017country(cleaned).csv')

In [63]:
ti2017count = ti2017country[['Country or Region','Representation']]

In [65]:
ti2017count = ti2017count.rename(columns ={'Country or Region':'Country 2017','Representation':'2017'})

In [67]:
ti2017count

              Country 2017  2017
0                    China    22
1              Philippines    11
2                     Peru     5
3                   Russia     5
4              South Korea     5
5                  Ukraine     5
6                   Canada     4
7                 Malaysia     4
8            United States     4
9                  Germany     3
10                  Sweden     3
11               Australia     2
12                 Denmark     2
13                 Finland     2
14                  Israel     2
15                  Jordan     2
16                 Belarus     1
17  Bosnia and Herzegovina     1
18                Bulgaria     1
19                 Estonia     1
20                  Greece     1
21                 Lebanon     1
22                   Macau     1
23                Pakistan     1
24                  Serbia     1

In [69]:
ti2018country = pd.read_csv(r'C:\Users\J2das\Documents\NSS\PYTHON\Projects\NSS-Full-Time-Data-Analytics-14-Capstone-Dota2\data\ti2018country(cleaned).csv')

In [71]:
ti2018count = ti2018country[['Country or Region','Representation']]

In [73]:
ti2018count = ti2018count.rename(columns ={'Country or Region':'Country 2018','Representation':'2018'})

In [75]:
ti2019country = pd.read_csv(r'C:\Users\J2das\Documents\NSS\PYTHON\Projects\NSS-Full-Time-Data-Analytics-14-Capstone-Dota2\data\ti2019country(cleaned).csv')

In [77]:
ti2019count = ti2019country[['Country or Region','Representation']]

In [79]:
ti2019count = ti2011count.rename(columns ={'Country or Region':'Country 2019','Representation':'2019'})

In [81]:
ti2021country = pd.read_csv(r'C:\Users\J2das\Documents\NSS\PYTHON\Projects\NSS-Full-Time-Data-Analytics-14-Capstone-Dota2\data\ti2021country(cleaned).csv')

In [83]:
ti2021count = ti2021country[['Country or Region','Representation']]

In [85]:
ti2021count = ti2021count.rename(columns ={'Country or Region':'Country 2021','Representation':'2021'})

In [87]:
ti2021count

       Country 2021  2021
0             China    22
1              Peru    10
2            Russia     7
3            Brazil     6
4       Philippines     5
5          Malaysia     4
6            Sweden     4
7     United States     4
8            Canada     3
9           Denmark     2
10          Finland     2
11        Indonesia     2
12        Singapore     2
13         Thailand     2
14          Ukraine     2
15          Belarus     1
16          Bolivia     1
17         Bulgaria     1
18          Czechia     1
19          Estonia     1
20           France     1
21           Israel     1
22           Jordan     1
23          Moldova     1
24  North Macedonia     1
25         Pakistan     1
26           Poland     1
27      South Korea     1

In [93]:
ti2022country = pd.read_csv(r'C:\Users\J2das\Documents\NSS\PYTHON\Projects\NSS-Full-Time-Data-Analytics-14-Capstone-Dota2\data\ti2022country(cleaned).csv')

In [95]:
ti2022count = ti2022country[['Country or Region','Representation']]

In [99]:
ti2022count = ti2022count.rename(columns ={'Country or Region':'Country 2022','Representation':'2022'})

In [101]:
ti2022count

       Country 2022  2022
0              Peru    13
1            Russia    13
2             China    12
3       Philippines     8
4           Germany     4
5            Sweden     4
6           Ukraine     4
7     United States     4
8            Brazil     3
9            Canada     3
10        Indonesia     3
11         Malaysia     3
12         Thailand     3
13          Czechia     2
14          Denmark     2
15           Israel     2
16      Netherlands     2
17        Australia     1
18          Austria     1
19          Belarus     1
20          Bolivia     1
21         Bulgaria     1
22          Estonia     1
23          Finland     1
24           Jordan     1
25       Kyrgyzstan     1
26             Laos     1
27  North Macedonia     1
28           Norway     1
29           Poland     1
30         Slovakia     1
31      South Korea     1

In [103]:
ti2023country = pd.read_csv(r'C:\Users\J2das\Documents\NSS\PYTHON\Projects\NSS-Full-Time-Data-Analytics-14-Capstone-Dota2\data\ti2023country(cleaned).csv')

In [105]:
ti2023count = ti2023country[['Country or Region','Representation']]

In [107]:
ti2023count = ti2023count.rename(columns ={'Country or Region':'Country 2023','Representation':'2023'})

In [109]:
ti2023count

      Country 2023  2023
0           Russia    19
1             Peru    15
2            China     9
3           Brazil     6
4    United States     5
5         Malaysia     4
6           Sweden     4
7          Ukraine     4
8          Belarus     3
9          Germany     3
10     Philippines     3
11        Thailand     3
12          Canada     2
13         Denmark     2
14       Indonesia     2
15          Israel     2
16      Kazakhstan     2
17         Lebanon     2
18         Austria     1
19         Bolivia     1
20        Bulgaria     1
21         Czechia     1
22         Finland     1
23         Moldova     1
24     Netherlands     1
25          Poland     1
26        Slovakia     1
27  United Kingdom     1

In [111]:
ti2024country = pd.read_csv(r'C:\Users\J2das\Documents\NSS\PYTHON\Projects\NSS-Full-Time-Data-Analytics-14-Capstone-Dota2\data\ti2024country(cleaned).csv')

In [113]:
ti2024count = ti2024country[['Country or Region','Representation']]

In [115]:
ti2024count = ti2024count.rename(columns ={'Country or Region':'Country 2024','Representation':'2024'})

In [117]:
test1 = pd.concat([ti2011count, ti2012count,ti2013count,ti2014count,ti2015count,ti2016count,ti2017count,ti2018count,ti2019count,ti2021count,ti2022count,ti2023count,ti2024count], axis="columns")

In [119]:
test1

,Country 2011,2011,Country 2012,2012,Country 2013,2013,Country 2014,2014,Country 2015,2015,...,Country 2011,2011,Country 2021,2021,Country 2022,2022,Country 2023,2023,Country 2024,2024
0,China,19.0,China,23.0,China,23.0,China,24.0,China,27.0,...,China,19.0,China,22.0,Peru,13,Russia,19.0,Russia,17.0
1,Denmark,9.0,Russia,8.0,Malaysia,13.0,Malaysia,12.0,Ukraine,9.0,...,Denmark,9.0,Peru,10.0,Russia,13,Peru,15.0,China,11.0
2,Russia,7.0,United States,7.0,United States,8.0,United States,10.0,South Korea,7.0,...,Russia,7.0,Russia,7.0,China,12,China,9.0,Peru,7.0
3,France,5.0,Malaysia,6.0,Sweden,7.0,Sweden,9.0,Malaysia,6.0,...,France,5.0,Brazil,6.0,Philippines,8,Brazil,6.0,Malaysia,6.0
4,Malaysia,5.0,Ukraine,6.0,Germany,6.0,Russia,7.0,Russia,5.0,...,Malaysia,5.0,Philippines,5.0,Germany,4,United States,5.0,Ukraine,4.0
5,Philippines,5.0,Australia,4.0,Russia,5.0,Canada,6.0,United States,5.0,...,Philippines,5.0,Malaysia,4.0,Sweden,4,Malaysia,4.0,Brazil,3.0
6,Singapore,5.0,Canada,4.0,Canada,4.0,Germany,6.0,Canada,4.0,...,Singapore,5.0,Sweden,4.0,Ukraine,4,Sweden,4.0,Indonesia,3.0
7,Thailand,5.0,Singapore,4.0,Ukraine,4.0,Ukraine,6.0,Denmark,2.0,...,Thailand,5.0,United States,4.0,United States,4,Ukraine,4.0,Sweden,3.0
8,Czechia,3.0,Sweden,4.0,Denmark,3.0,South Korea,5.0,Germany,2.0,...,Czechia,3.0,Canada,3.0,Brazil,3,Belarus,3.0,Thailand,3.0
9,Germany,3.0,Denmark,3.0,Singapore,3.0,Denmark,2.0,Singapore,2.0,...,Germany,3.0,Denmark,2.0,Canada,3,Germany,3.0,United States,3.0
10,Ukraine,3.0,France,3.0,Estonia,1.0,Estonia,1.0,Sweden,2.0,...,Ukraine,3.0,Finland,2.0,Indonesia,3,Philippines,3.0,Belarus,2.0
11,Slovakia,2.0,Germany,3.0,Finland,1.0,Finland,1.0,Australia,1.0,...,Slovakia,2.0,Indonesia,2.0,Malaysia,3,Thailand,3.0,Denmark,2.0
12,Sweden,2.0,Netherlands,2.0,Israel,1.0,Israel,1.0,Belarus,1.0,...,Sweden,2.0,Singapore,2.0,Thailand,3,Canada,2.0,Germany,2.0
13,United States,2.0,Croatia,1.0,Macau,1.0,Macau,1.0,Estonia,1.0,...,United States,2.0,Thailand,2.0,Czechia,2,Denmark,2.0,Israel,2.0
14,Canada,1.0,Estonia,1.0,NaN,NaN,Netherlands,1.0,Finland,1.0,...,Canada,1.0,Ukraine,2.0,Denmark,2,Indonesia,2.0,Belgium,1.0
15,Croatia,1.0,Macau,1.0,NaN,NaN,Romania,1.0,Israel,1.0,...,Croatia,1.0,Belarus,1.0,Israel,2,Israel,2.0,Finland,1.0
16,Estonia,1.0,NaN,NaN,NaN,NaN,Singapore,1.0,Macau,1.0,...,Estonia,1.0,Bolivia,1.0,Netherlands,2,Kazakhstan,2.0,Jordan,1.0
17,Macau,1.0,NaN,NaN,NaN,NaN,NaN,NaN,Mexico,1.0,...,Macau,1.0,Bulgaria,1.0,Australia,1,Lebanon,2.0,Kazakhstan,1.0
18,Romania,1.0,NaN,NaN,NaN,NaN,NaN,NaN,Pakistan,1.0,...,Romania,1.0,Czechia,1.0,Austria,1,Austria,1.0,Moldova,1.0
19,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Romania,1.0,...,NaN,NaN,Estonia,1.0,Belarus,1,Bolivia,1.0,Netherlands,1.0
20,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,France,1.0,Bolivia,1,Bulgaria,1.0,Nicaragua,1.0
21,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,Israel,1.0,Bulgaria,1,Czechia,1.0,North Macedonia,1.0
22,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,Jordan,1.0,Estonia,1,Finland,1.0,Philippines,1.0
23,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,Moldova,1.0,Finland,1,Moldova,1.0,Poland,1.0
24,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,North Macedonia,1.0,Jordan,1,Netherlands,1.0,Singapore,1.0
25,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,Pakistan,1.0,Kyrgyzstan,1,Poland,1.0,Slovakia,1.0
26,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,Poland,1.0,Laos,1,Slovakia,1.0,NaN,NaN
27,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,South Korea,1.0,North Macedonia,1,United Kingdom,1.0,NaN,NaN
28,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,Norway,1,NaN,NaN,NaN,NaN
29,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,Poland,1,NaN,NaN,NaN,NaN
30,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,Slovakia,1,NaN,NaN,NaN,NaN
31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,South Korea,1,NaN,NaN,NaN,NaN

In [ ]:
test2.sort_values(by = 'Country or Region')

In [ ]:
joined_test = ti2011count.join(ti2012count, how='cross')