In [3]:
import pandas as pd

In [5]:
import numpy as np

In [5]:
import matplotlib.pyplot as plt

In [27]:
import seaborn as sns

In [29]:
import requests

In [ ]:
page = requests.get("https://liquipedia.net/dota2/The_International/2011")
 
# display status code
print(page.status_code)
 
# display scraped data
print(page.content)

In [19]:
ti2011prizepool = pd.read_csv(r'C:\Users\J2das\Documents\NSS\PYTHON\Projects\dota-capstone\data\TI_2011\PrizePoolFinalStandings.csv')

In [21]:
ti2011prizepool

    Unnamed: 0      Place       Price PricePoolPercent         Team Name
0            0        1st  $1,000,000            62.5%     Natus Vincere
1            1        2nd    $250,000          15.625%             EHOME
2            2        3rd    $150,000           9.375%     Scythe Gaming
3            3        4th     $80,000               5%  Meet Your Makers
4            4    5th-6th     $35,000          2.1875%       Moscow Five
5            5    5th-6th     $35,000          2.1875%   Invictus Gaming
6            6    7th-8th     $25,000          1.5625%       Nirvana.int
7            7    7th-8th     $25,000          1.5625%  Made in Thailand
8            8   9th-12th           -                -      Virus Gaming
9            9   9th-12th           -                -             TYLOO
10          10   9th-12th           -                -           Mineski
11          11   9th-12th           -                -              MUFC
12          12  13th-16th           -                -  Storm Games Clan
13          13  13th-16th           -                -        GosuGamers
14          14  13th-16th           -                -     OK.Nirvana.cn
15          15  13th-16th           -                -    Next Evolution

In [23]:
ti2012prizepool = pd.read_csv(r'C:\Users\J2das\Documents\NSS\PYTHON\Projects\dota-capstone\data\TI_2012\PrizePoolFinalStandings.csv')

In [25]:
ti2012prizepool

    Unnamed: 0      Place       Price PricePoolPercent             Team Name
0            0        1st  $1,000,000            62.5%       Invictus Gaming
1            1        2nd    $250,000          15.625%         Natus Vincere
2            2        3rd    $150,000           9.375%            LGD Gaming
3            3        4th     $80,000               5%               Team DK
4            4    5th-6th     $35,000          2.1875%                 EHOME
5            5    5th-6th     $35,000          2.1875%           Team Zenith
6            6    7th-8th     $25,000          1.5625%                TongFu
7            7    7th-8th     $25,000          1.5625%        Orange Esports
8            8   9th-12th           -                -  Counter Logic Gaming
9            9   9th-12th           -                -     compLexity Gaming
10          10   9th-12th           -                -         Evil Geniuses
11          11   9th-12th           -                -                 Darer
12          12  13th-16th           -                -       Mortal Teamwork
13          13  13th-16th           -                -           mousesports
14          14  13th-16th           -                -           Moscow Five
15          15  13th-16th           -                -      Absolute Legends

In [31]:
prizemoney2011 = pd.read_csv(r'C:\Users\J2das\OneDrive\Desktop\dota2capstone\data\prizemoney2011.csv')

In [33]:
prizemoney2011

   Place  Prize Money Percentage              Team
0    1st  $1,000,000      62.50%     Natus Vincere
1    2nd    $250,000      15.63%             EHOME
2    3rd    $150,000       9.38%     Scythe Gaming
3    4th     $80,000          5%  Meet Your Makers
4    5th     $35,000       2.19%       Moscow Five
5    6th     $35,000       2.19%   Invictus Gaming
6    7th     $25,000       1.56%       Nirvana.int
7    8th     $25,000       1.56%  Made in Thailand
8    9th          $0          0%      Virus Gaming
9   10th          $0          0%             TYLOO
10  11th          $0          0%           Mineski
11  12th          $0          0%              MUFC
12  13th          $0          0%  Storm Games Clan
13  14th          $0          0%        GosuGamers
14  15th          $0          0%     OK.Nirvana.cn
15  16th          $0          0%    Next Evolution

In [11]:
tiwinners = pd.read_csv(r'C:\Users\J2das\OneDrive\Desktop\dota2capstone\data\tiwinnersandrunnerup.csv')

In [13]:
tiwinners

,Year,Date,Teams,Prize pool,Champion,Finals,Runner-up,Venue
0,2011,August 17–21,16,"$1,600,000",Natus Vincere,3–1,EHOME,Koelnmesse (Cologne)
1,2012,August 31 – September 2,16,"$1,600,000",Invictus Gaming,3–1,Natus Vincere,Benaroya Hall (Seattle)
2,2013,August 7–11,16,"$2,874,380",Alliance,3–2,Natus Vincere,Benaroya Hall (Seattle)
3,2014,July 18–21,16,"$10,923,977",Newbee,3–1,Vici Gaming,Key Arena (Seattle)
4,2015,August 3–6,16,"$18,429,613",Evil Geniuses,3–1,CDEC Gaming,Key Arena (Seattle)
5,2016,August 3–13,16,"$20,770,460",Wings Gaming,3–1,Digital Chaos,Key Arena (Seattle)
6,2017,August 7–12,18,"$24,787,916",Team Liquid,3–0,Newbee,Key Arena (Seattle)
7,2018,August 20–25,18,"$25,532,177",OG,3–2,PSG.LGD,Rogers Arena (Vancouver)
8,2019,August 20–25,18,"$34,330,068",OG,3–1,Team Liquid,Mercedes-Benz Arena (Shanghai)
9,2020,Cancelled due to Covid-19,0,$0,N/A,0-0,NaN,Cancelled Due to Covid-19
10,2021,October 7–17,18,"$40,018,195",Team Spirit,3–2,PSG.LGD,Arena Națională (Bucharest)
11,2022,October 15–30,20,"$18,930,775",Tundra Esports,3–0,Team Secret,Suntec Singapore Singapore Indoor Stadium (Sin...
12,2023,October 14–29,20,"$3,143,063",Team Spirit,3–0,Gaimin Gladiators,Seattle Convention Center Climate Pledge Arena...
13,2024,September 4–15,16,"$2,602,164",Team Liquid,3–0,Gaimin Gladiators,Royal Arena (Copenhagen)

In [19]:
prizemoney2012 = pd.read_csv(r'C:\Users\J2das\OneDrive\Desktop\dota2capstone\data\prizemoney2012.csv')

In [21]:
prizemoney2012

   Place  Prize Money Percentage                  Team
0    1st  $1,000,000      62.50%       Invictus Gaming
1    2nd    $250,000      15.63%         Natus Vincere
2    3rd    $150,000       9.38%            LGD Gaming
3    4th     $80,000       5.00%               Team DK
4    5th     $35,000       2.19%                 EHOME
5    6th     $35,000       2.19%           Team Zenith
6    7th     $25,000       1.56%                TongFu
7    8th     $25,000       1.56%        Orange Esports
8    9th          $0       0.00%  Counter Logic Gaming
9   10th          $0       0.00%     compLexity Gaming
10  11th          $0       0.00%         Evil Geniuses
11  12th          $0       0.00%                 Darer
12  13th          $0       0.00%       Mortal Teamwork
13  14th          $0       0.00%           mousesports
14  15th          $0       0.00%           Moscow Five
15  16th          $0       0.00%      Absolute Legends

In [27]:
prizemoney2013 = pd.read_csv(r'C:\Users\J2das\OneDrive\Desktop\dota2capstone\data\prizemoney2013.csv')

In [29]:
prizemoney2013

   Place  Prize Money Percentage               Team
0    1st  $1,437,190      50.00%           Alliance
1    2nd    $632,364      22.00%      Natus Vincere
2    3rd    $287,438      10.00%     Orange Esports
3    4th    $201,207       7.00%             TongFu
4    5th    $114,975       4.00%    Invictus Gaming
5    6th    $114,975       4.00%            Team DK
6    7th     $43,116       1.50%        Team Liquid
7    8th     $43,116       1.50%            Fnactic
8    9th          $0       0.00%      Team Dignitas
9   10th          $0       0.00%  LGD International
10  11th          $0       0.00%         LGD Gaming
11  12th          $0       0.00%        Team Zenith
12  13th          $0       0.00%        RattleSnake
13  14th          $0       0.00%        mousesports
14  15th          $0       0.00%               MUFC
15  16th          $0       0.00%         Virtus.pro